/*
Autor: Athalía Vilaplana
Empresa: El chiringo de Rita
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{font-family: 'Slabo 27px', serif;}
ul{list-style: none;}
a{text-decoration: none;}